
@font-face {
    font-family: Karantina;
    src: url(fonts/Rubik-Regular.ttf);
}
* {
    user-select: none;
    font-family: Karantina;
}
body {
    height: 100%;
    width: 100%;
    background-color:#e9e9e9;
    /* background-image: url(media/Capture.PNG);
    background-size: 100%; */
    direction: rtl;
    overflow: hidden;
    user-select: none;
}

#logoPakar {
    height: 20vh;
    width: 10vw;
    position: absolute;
    left: 40%;
    top: 10%;  
}

#logoModin {
    height: 20vh;
    width: 7.5vw;
    position: absolute;
    left: 52%;
    top: 10%;
    
}

.pages {
    position: absolute;
    display: flex;
    top: 5vh;
    height: 70vh;
    width: 85vw;
    right: 7.5vw;
    /* background-color: red; */
}

.titleAnyPage {
    position: absolute;
    height: 5vh;
    width: 85vw;
    right: 0vw;
    top: 0vh;
    text-align: center;
    font-size: 7vw;
    color: black;
    text-shadow: 0.2vh 0.2vh #127d2d;
}

.btnNext {
    border-radius: 1vh;
    font-size: 1.85vw;
    height: 8vh;
    width: 9vw;
    background-color: #789395;
    color: white;
    border-color:#789395 ;
    cursor: pointer;
    position: absolute;
    bottom: -15vh;
    display: none;
}

/* .pro {
    bottom: -6vh;
} */

#nextButton5 {
    right: 38vw;
    display: none;
}

.text {
    direction: rtl;
    text-align: right;
    font-size: 2.5vw;
    /* transition: 0.5s; */
}

/* FIRST PAGE */

#firstPage {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    height: 40vh;
    width: 60vw;
    right: 20vw;
    top: 40vh;
}

#titleFirstPage {
    font-size: 10vh;
    text-shadow: 0.2vh 0.2vh #127d2d;
    text-align: center;
}

#startButton {
   font-size: 3vh;
   height: 12vh;
   border-radius: 1vh;
   width: 13vw;
   background-color: #789395;
   color: white;
   border-color:#789395 ;
   z-index: 1;
}


/* SECOND PAGE  */
#secondPage {
    position: absolute;
    display: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
   
 }

#titleSecondPage {
    display: none;
}

#targetText {
    display: none;
}


/* Third Page  */

#thirdPage {
    position: absolute;
    display: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
   
}

#titleThirdPage {
    display: none;
}
.list {
    font-size: 2.2vw;
    margin-top: 20vh;
    direction: rtl;
    text-align: right;
    display: none;
}

/* Fourth Page  */

#fourthPage {
    position: absolute;
    display: none;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}

#fourthPageContent {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 50vh;
}

#titleFourthPage {
    display: none;
    font-size: 5.2vw;
    top: -5vh;
    text-align: center;
    /* left: 25%; */
}

#map {
    position: absolute;
    left: -3vw;
    bottom: -18vh;
    height: 47vh;
    width: 37vw;
    display: none;
}

#tfisaPikuditTextAA {
    width: 65vw;
    margin-top: 10vh;
    margin-right: 5vw;
}

#tfisaPikuditTextA {
    margin-top: 10vh;
}

.tfisaPikuditTexts {
    display: none;
    font-size: 2vw;
}

#tfisaPikuditText {
    margin-top: 10vh;
}

/* Fifth Page */

#fifthPage {
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    display: none;
    /* background-color: yellow; */
}

#fifthPageContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    height: 50vh;
}

#titleFifthPage {
    display: none;
    font-size: 6vw;
    top: -5vh;
}

#map1 {
    height: 40vh;
    width: 70vh;
    display: none;
}

#MavoLyaklarA{
    position: absolute;
    /* background-color: red; */
    height: 40vh;
    width: 80vw;
    right: 5vw;
    top: 12vh;
    /* text-align: center; */
    display: none;
}

.tree {
    border-radius: 1.5vh;
    font-size: 1.2vw;
    height: 10vh;
    width: 7vw;
    background-color: #e4a169;
    color: black;
    border-color:#f07108;
    border-radius: 3px;
    text-align: center;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.tRight {
    background-color: #e4a169;
    border: 1px solid #f07108  ;
    border-radius: 8px;
    display: none;
}
.tLeft {
    background-color: #5699ce;
    border-radius: 8px;
    border: 1px solid #0384ee  ;
    display: none;
}
#yaklar {
    background-color: #e4a169;
    border: 1px solid #f07108  ;
    border-radius: 8px;
    display: none;
    cursor: pointer;
}
.flex {
    display: flex;
}
#vertical {
    position: absolute;
    display: flex;
    /* align-content: space-between; */
    /* background-color: yellow; */
    top: 20vh;
    right: 35vw; 
    height: 28.5vh;
    width: 14vh;
    flex-direction: column;
    justify-content: space-between;
}

#verticalLeft {
    position: absolute;
    /* background-color: red; */
    display: flex;
    /* align-content: space-between; */
    /* background-color: yellow; */
    top: 20vh;
    right: 71vw; 
    height: 28.5vh;
    width: 11vh;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

#horizontal {
    /* background-color: purple; */
    position: absolute;
    display: flex;
    top: 56vh;
    right: 35vw; 
    height: 12vh;
    width: 31vw;
    flex-direction: row;
    justify-content: space-between;
}

#horizontal1 {
    /* background-color: yellow; */
    position: absolute;
    top: 56vh;
    right: 71vw; 
    height: 10vh;
    width: 18vw;
    flex-direction: row;
    justify-content: space-between;
}
.line {
    position: absolute;
    top: 26%;
    right: 32.3%;
    background-color: black; 
    border-color: black;
    border-width: 0.3vh;
    border-style: solid;
}

.lVerticalRight {
    position: absolute;
    top: 24vh;
    right: 38.5vw;
    height: 35vh;
    width: 0vh;
    /* background-color: red; */
}

.lHorizontalRight {
    position: absolute;
    top: 61vh;
    /* background-color: blue; */
    right: 35vw;
    height: 0vh;
    width: 31vw;

}
.lHorizontalLeft {
    position: absolute;
    top: 53vh;
    right: 62vw;
    height: 0vh;
    width: 23.6vw;

}
#line1 {
    position: absolute;
    top: 53vh;
    right: 62vw;
    height: 3vh;
    width: 0vw;
    opacity: 0%;
}
#line2 {
    position: absolute;
    top: 25vh;
    right: 74.3vw;
    height: 35vh;
    width: 0vh;
}
#line3 {
    position: absolute;
    top: 53vh;
    right: 85.5vw;
    height: 3vh;
    width: 0vw;
    opacity: 0%;
}
.lineL {
    display: none;
}
.lineR {
    display: none;
}
#yaklarText1 {    
    /* background-color: yellow; */
    top: 20vh;
    height: 50vh;
    width: 35vw;
    right: -5vw;
    font-size: 1.5vw;
    display: none;
    position: absolute;
}
#yaklarText2 {
    top: 20vh;
    height: 50vh;
    width: 35vw;
    right: -5vw;
    font-size: 1.5vw;
    display: none;
    position: absolute; 
}
#mavoLyaklarText {
    position: absolute;
    top: 13vh;
    right: 11vw;
    width: 63vw;
    display: none;
    font-size: 2.2vw;
}
#mavoLyaklarText1 {
    font-size: 2.2vw;
    text-align: center;
}
#divMavoLyaklarText1 {
    position: absolute;
    top: 20vh;
    right: 12vw;
    border-radius: 1.5vh;
    height: 50vh;
    width: 60vw;
    color: black;
    border-color:#127d2d ;
    border-width: 0.2vh;
    border-style: solid;
    display: none;
    /* padding-top: 3vh ; */
}

#mavoLyaklarText2 {
    font-size: 2vw;
    position: absolute;
    width: 70vw;
    top: 20vh;
    text-align: center;
    right: 7.5vw;
    display: none;
}

#dragDrop{
    position: absolute;
    /* background-color: yellow; */
    top: 30vh;
    right: 14vw;
    height: 16vh;
    width: 60vw;
    color: black;
    flex-wrap: wrap;
    display: none;
}

#textDrop {
    position: absolute;
    /* background-color: blue; */
    width: 55vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.6vw;
    flex-flow: row wrap;
    right: 2vw;
}

.arrowDiv {
    flex-wrap: wrap;
    position: absolute;
    /* right: 5vw; */
    top: 5vh;
    width: 50vw;
    right: 3vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}

.arrow {
    height: 7vh;
    width: 7vh;
}
.dropable {
    border-radius: 1.5vh;
    height: 12vh;
    width: 13vw;
    color: black;
    border-color: white ;
    background-color: white ;
    border-width: 0.2vh;
    border-style: solid;
}

#dropDiv {
    /* background-color: red; */
    position: absolute;
    display: flex;
    top: 15vh;
    left: 2vw;
    height: 10vh;
    width: 60vw;
    flex-direction: row;
    justify-content: space-between; 
}

#dragDiv {
    position: absolute;
    top: 30vh;
    left: 2vw;
    display: flex;
    height: 10vh;
    width: 60vw;
    flex-direction: row;
    justify-content: space-between; 
    text-align: center;
    font-size: 1.3vw;
}

.flip-card:hover {
    z-index: 1;
}

.flip-card {
    background-color: transparent;
    width: 12vw;
    height: 8vh;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1.2vh;
    bottom: 5vh;
  }

  .flipCardText{
      padding-top: 0.8vh;
      font-size: 1vw;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

  .flip-card-front, .flip-card-back {
    border-radius: 1.2vh;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 2vw;
}

  .flip-card-front {
    background-color: #5699ce;
    color: black;
    height: 10vh;
    width: 15vw;
    font-size: 1.6vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .flip-card-back {
    border-radius: 1.2vh;
    background-color: rgb(251 152 76);
    color: black;
    transform: rotateY(180deg);
    height: 25vh;
    width: 18vw;
  }

  #mavoLyaklarText3{
      font-size: 1.4vw;
      width: 70vw;
      text-align: center;
      display: none;
      position: absolute;
      top: 12.5vh;
      right: 7.5vw;
  }

  #flipCard1 {
      position: absolute;
      top: 35vh;
      right: 35vw;
      display: none;
  }
  #flipCard2 {
      position: absolute;
      top: 49vh;
      right: 45vw;
      display: none;
  }
  #flipCard3 {
      position: absolute;
      top: 62vh;
      right: 35vw;
      display: none;
  }
  #flipCard4 {
      position: absolute;
      top: 62vh;
      right: 10vw;
      display: none;
  }
  #flipCard5 {
      position: absolute;
      top: 62vh;
      right: 60vw;
      display: none;
  }

#verticalLine1{
    height: 25vh;
    top: 35vh;
    right: 41.5vw;
    display: none;
}
#horizonLine1{
    width: 52vw;
    top: 61vh;
    right: 17vw;
    display: none;
}
#horizonLine2{
    width: 10vw;
    top: 50vh;
    right: 41.5vw;
    display: none;
}

#mavoLyaklarText4{
    font-size: 1.3vw;
    text-align: center;
    display: none;
    position: absolute;
    top: 16vh;
    right: 12.5vw;
    width: 60vw;
}
#tree1 {
    position: absolute;
    top: 33vh;
    right: -3vw;
    width: 50vw;
}
.treeText{
    font-size: 1.2vw;
    position: absolute;
    z-index: 1;
}

.picsTrees {
    position: absolute;
    top: 50vh;
    left: 0vw;
    height: 30vh;
    width: 25vw;
    cursor: pointer;
}


/* #village{
    position: absolute;
    top: 50vh;
    left: 4vw;
    height: 25vh;
    width: 25vw;
    cursor: pointer;
} */
/* #instructionsVillage{
    font-size: 3vh;
    position: absolute;
    top: 35%;
    left: 13%;
} */
#tree2 {
    position: absolute;
    top: 30vh;
    right: 6vw;
    width: 50vw;
    height: 50vh;
}
/* #town2{
    display: none;
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 40%;
    left: 6%;
    cursor: pointer;
} */

#tree3{
    position: absolute;
    top: 29vh;
    right: 3vw;
    width: 50vw;
    height: 50vh;
}

/* #city3{
    display: none;
    height: 20vh;
    width: 20vw;
    position: absolute;
    top: 40%;
    left: 6%;
    cursor: pointer;
} */

/* Perek 3  */

#mavoLyaklarText5{
    font-size: 2vw;
    text-align: center;
    display: none;
    position: absolute;
    /* right: 7.5vw; */
    width: 80vw;
    right: 10vw;
    top: 15vh;
    /* background-color: red; */
}

#there {
    width: 20vw;
    position: relative;
    bottom: 10vh;
    right: 3vw;
}

#wtd {
    position: relative;
    bottom: 23vh;
    right: 2vw;
    font-weight: bold;
    color: #fff;
}
#lll {
    width: 18vw;
    position: absolute;
    bottom: 5vh;
    right: 49vw;
}

#lle {
    position: absolute;
    bottom: 13vh;
    right: 54vw;
    font-weight: bold;
    color: #fff;
}

#down {
    width: 8vw;
    position: relative;
    top: 25vh;
    left: 7vw;
}

#titleSixPage {
    display: none;
    text-align: center;
    font-size: 6vw;
    right: 7.5vw;
}

#soldier {
    width: 18vw;
    height: 60vh;
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: none;
}
#zrimatMidaText1{
    position: absolute;
    font-size: 1.8vw;
    top: 25vh;
    height: 50vh;
    width: 50vw;
    right: 5vw;
    text-align: center;
    display: none;
}

#map2 {
    position: absolute;
    right: 60vw;
    top: 25vh;
    height: 45vh;
    width: 35vw;
    display: none;
}

#zrimatMidaText2{
    position: absolute;
    font-size: 1.8vw;
    top: 25vh;
    height: 50vh;
    width: 50vw;
    right: 5vw;
    text-align: center;
    display: none;
}

#map3 {
    position: absolute;
    right: 60vw;
    top: 25vh;
    height: 45vh;
    width: 35vw;
    display: none;
}

.seconedDropable {
    border-radius: 1.5vh;
    height: 4vh;
    width: 6vw;
    color: black;
    border-color: white ;
    background-color: white;
    border-width: 0.2vh;
    border-style: solid;
    font-size: 1.3vw;
    padding-bottom: 0%;
}

.seconedDropable:hover {
    cursor: pointer;
}

#dropDiv1 {
    position: absolute;
    top: 0%;
    left:10%;
    display: flex;
    height: 30vh;
    width: 10vw;
    flex-direction: column;
    justify-content: space-between; 

}

#dragDiv1 {
    position: absolute;
    bottom: 0vh;
    right: 5vw;
    display: flex;
    height: 10vh;
    width: 40vw;
    flex-direction: row;
    justify-content: space-evenly; 
    text-align: center;
    font-size: 1.3vw; 
}

#dragDrop2{
    position: absolute;
    top: 32.5vh;
    /* background-color: red; */
    right: 25vw;
    height: 50vh;
    width: 50vw;
    color: black;
    flex-wrap: wrap;
    display: none;

}
.sentences {
    text-align: right;
    position: absolute;
    top: -1%;
    right: 17%;
    font-size: 3.4vh;
}
#boxText {
    border-radius: 1.5vh;
    height: 45vh;
    width: 40vw;
    color: black;
    border-color: #5699ce ;
    background-color: #5699ce ;
    border-width: 0.2vh;
    border-style: solid;
    position: absolute;
    top: 0vh;
    right: 5vw;
    padding: 1vw;
    text-align: center;
    padding-top: 1vh;
    font-size: 2vw;
    display: none;
}

#button2 {
    position: absolute;
    bottom: 5vh;
    right: 15vw;
    width: 10vw;
}

#button2:hover {
    background-color: aquamarine;
    cursor: pointer;
}

#textDrag {
    position: absolute;
    top: -10vh;
    right: -5vw;
    text-align: center;
    width: 60vw;
    font-size: 3vw;
}

#flipCard6 {
    position: absolute;
    font-size: 4vw;
    top: 15vh;
    right: -15vw;
}

#flipCard7 {
    position: absolute;
    font-size: 4vw;
    top: 15vh;
    left: -15vw;
}

.progressBar {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(135 179 201);
    border-width: 1vh;
    background-color: rgb(135 179 201);
    border-radius: 1.1vh;
    height: 6vh;
    width: 8vw;
    margin-top: 2vh;
    margin-right: 1vh;
    text-align: center;
    font-size: 3vh;
    cursor: pointer;
    display: none;
}

#zrimatMidaRight {
    position: absolute;
    /* background-color: yellow; */
    top: 38vh;
    right: 20vw;
    width: 20vw;
    height: 20vh;
    display: none;
    cursor: pointer;
}

#zrimatMidaLeft {
    position: absolute;
    /* background-color: yellow; */
    top: 38vh;
    right: 60vw;
    width: 22vw;
    height: 20vh;
    display: none;
    cursor: pointer;
}
#logoZrima{
    height: 12vh;
    width: 6vw;
}
#logoZrima2{
    height: 12vh;
    width: 6vw;
}
#arrowZrima1 {
    height: 8vh;
    width: 6vw;
    transform: scaleX(-1);
}
#arrowZrima2 {
    height: 8vh;
    width: 6vw;
}
#textZrima{
    font-size: 2.5vw;
    position: absolute;
    width: 70vw;
    /* background-color: yellow; */
    right: 15vw;
    text-align: center;
    /* right:31%; */
    /* top: 26%; */
    display: none;
    top: 15vh;
}


#textZrima1{
    font-size: 2vw;
    position: absolute;
    text-align: center;
    width: 60vw;
    right: 20vw;
    top: 30vh;
    display: none;
}
.topicPakarToRashot {
    border-color: #5699ce;
    background-color: #5699ce;
    border-width: 0.2vh;
    border-style: solid;
    width: 12vw;
    height: 14vh;
    border-radius: 1.5vh;
    font-size: 1.4vw;
    text-align: center;
    padding-top: 1vh;
    cursor: pointer;
}

.topicPakarToRashot:hover {
    background-color: #3378b0;
}

#pakarToRashot {
    width: 50vw;
    height: 15vh;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 65vh;
    /* background-color: yellow; */
    right: 25vw;
}

#pakarToRashotDiv{
    /* background-color: red; */
    width: 30vw;
    height: 15vh;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 65vh;
    right: 35vw;
}

#pakarToRashotBox {
    border-radius: 1.5vh;
    height: 50vh;
    width: 78vw;
    color: black;
    border-color: rgb(251 152 76) ;
    background-color: rgb(251 152 76) ;
    border-width: 0.2vh;
    border-style: solid;
    position: absolute;
    top: 13.5vh;
    right: 11vw;
    text-align: center;
    padding-top: 1vh;
    font-size: 2.4vw;
    padding: 1vw;
    display: none;
    z-index: 3;
}

#button1 {
    position: absolute;
    bottom: 3vh;
    right: 35vw;
    width: 8vw;
    height: 8vh;
    font-size: 2.5vw;
}

#button1:hover {
    background-color: aquamarine;
}

/* Seventh Page  */

#titleSevenPage {
    text-align: center;
    display: none;
    right: 7.5vw;
    font-size: 6vw;
}

#marchotMidaText {
    font-size: 1.5vw;
    text-align: center;
    position: absolute;
    top: 22vh;
    width: 60vw;
    right: 20vw;
    display: none;
}

#book {
    width: 12vw;
    height: 20vh;
    position: absolute;
    top: 38vh;
    right: 45vw;
    display: none;
    cursor: pointer;
}

#textBook {
    width: 12vw;
    height: 20vh;
    position: absolute;
    top: 42vh;
    right: 44vw;
    color: rgb(251 152 76);
    font-size: 1.1vw;
    text-align: center;
    display: none;
}

#driveLink {
    width: 10.5vw;
    height: 20vh;
    position: absolute;
    top: 38vh;
    right: 45.5vw;
    display: none;
}

#marchotMidaVideo {
    height: 20vh;
    width: 50vw;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 62vh;
    right: 25vw;
    text-align: center;
    font-size: 1.5vw;
}

.videoIcon {
    height: 13vh;
    width: 7vw;
}

/* Eighth Page */

#titleEightPage {
    display: none;
    right: 7.5vw;
}
#parakEText {
    display: none;
    font-size: 2vw;
    width: 70vw;
    right: 15vw;
    text-align: center;
    position: absolute;
    top: 20vh;
}

#titleTirgolPage{
    display: none;
    font-size: 6vw;
    right: 7.5vw;
}

#tirgolText1 {
    font-size: 1.7vw;
    text-align: center;
    position: absolute;
    top: 20vh;
    right: 20vw;
    width: 60vw;
    display: none;
}

.tirgolDiv {
    border-radius: 0.6vh;
    height: 6vh;
    width: 8vw;
    color: black;
    border-color: #5699ce;
    background-color: #5699ce;
    border-width: 0.2vh;
    border-style: solid;
    font-size: 1vw;
    text-align: center;
    padding-top: 0.6vh;
    display: none;
    cursor: pointer;
}

#tirgolMekorot {
    font-size: 4vh;
    position: absolute;
    top: 19%;
    right: 12%;
    display: none;
}

.tirgolDown {
    top: 70vh;
}

#camera {
    position: absolute;
    top: 32vh;
    right: 15vw;
}

#telephoneAlerts {
    position: absolute;
    /* top: 58vh; */
    right: 15vw;
}

#police {
    position: absolute;
    /* top: 58vh; */
    right: 36vw;
}

#natzig {
    position: absolute;
    /* top: 58vh; */
    right: 56vw;
}
#natzigs {
    position: absolute;
    /* top: 58vh; */
    right: 56vw;
}

#kamanGdod {
    position: absolute;
    /* top: 58vh; */
    right: 77vw;
}

#samlilNafa {
    position: absolute;
    z-index: 2;
    top: 32vh;
    right: 77vw;
}

#tirgolB1Text {
    display: none;
    position: absolute;
    top: 25svh;
    right: 15vw;
    font-size: 2.5vw;
    width: 70vw;
    text-align: center;
}
#titleTirgolBPage {
    display: none;
    right: 7.5vw;
}
#tirgolText2 {
    font-size: 1.7vw;
    text-align: center;
    position: absolute;
    top: 20vh;
    width: 60vw;
    right: 20vw;
    display: none;
}

.answerDiv {
    border-radius: 0.6vh;
    height: 6vh;
    width: 8vw;
    color: black;
    border-color: rgb(251 152 76);
    background-color: rgb(251 152 76);
    border-width: 0.2vh;
    border-style: solid;
    font-size: 0.9vw;
    text-align: center;
    padding-top: 0.6vh;
    cursor: pointer;
    bottom: 3vh;
}

#answerFlex{
    display: flex;
    height: 6vh;
    width: 70vw;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    right: 15vw;
    top: 75vh;
    display: none;

}
#tirgolBoxText {
    border-radius: 1.5vh;
    height: 10vh;
    width:20vw;
    color: black;
    border-color: green ;
    background-color: green ;
    border-width: 0.2vh;
    border-style: solid;
    position: absolute;
    top: 40%;
    right: 38%;
    text-align: center;
    padding-top: 1vh;
    font-size: 5vh;
    display: none;
}

#finishButton {
    position: absolute;
    top: 60vh;
    right: 43vw;
    font-size: 1.7vw;
    height: 10vh;
    border-radius: 1vh;
    width: 14vw;
    background-color: #789395;
    color: white;
    border-color:#789395 ;
    font-family: karantina;
    display: none;
}

#endLomdaText {
    display: none;
    font-size: 2vw;
    text-align: center;
    position: absolute;
    top: 10vh;
    width: 70vw;
    right: 15vw;
}
.graphic {
    display: none;
}

#kamanPicture {
    position: absolute;
    top: 53vh;
    left: 17.7vw;
    height: 15vh;
    width: 3vw;
}

.tel {
    position: absolute;
    top: 55vh;
    left: 78.2vw;
    width: 6vw;
    height: 15vh;
}

.cam {
    position: absolute;
    top:18vh;
    right: 16vw;
    width: 6vw;
    height: 15vh;
}

#natzigPicture {
    position: absolute;
    top: 53vh;
    right: 59vw;
    height: 15vh;
    width: 3vw;
}

#natzigsPicture {
    position: absolute;
    top: 53vh;
    right: 59vw;
    height: 15vh;
    width: 3vw;
}

#orePicture {
    position: absolute;
    top: 20vh;
    right: 78.4vw;
    height: 10vh;
    width: 5vw;
}

.in {
    position: relative;
    top: 81vh;
    right: -7vw;
    font-weight: bolder;
}

#linfo {
    position: relative;
    top: 54vh;
    right: -3vw;
    font-weight: bolder;
}

#policePicture {
    position: absolute;
    top: 53vh;
    right: 38.5vw;
    height: 15vh;
    width: 3vw;
}

#firstTree{
    display: none;
}
#secondTree{
    display: none;
}


#MyaklarTree {
    top: 39vh;
    right: 36.7vw;
    border-radius: 0.6vh;
    height: 8vh;
    width: 10vw;
    color: black;
    border-color: rgb(251 152 76);
    background-color: rgb(251 152 76);
    border-width: 0.2vh;
    border-style: solid;
    font-size: 1.3vw;
    text-align: center;
    padding-top: 0.6vh;
    cursor: pointer;
    bottom: 3vh; 
}

#SMyaklarTree {
    top: 51.2vh;
    right: 50vw;
    border-radius: 0.6vh;
    height: 8vh;
    width: 10vw;
    color: black;
    border-color: rgb(251 152 76);
    background-color: rgb(251 152 76);
    border-width: 0.2vh;
    border-style: solid;
    font-size: 1.3vw;
    text-align: center;
    padding-top: 0.6vh;
    cursor: pointer;
    bottom: 3vh;
}

#mashakEisof {
    top:  62.2vh;
    right: 14vw;
    border-radius: 0.6vh;
    height: 8vh;
    width: 10vw;
    color: black;
    border-color: rgb(251 152 76);
    background-color: rgb(251 152 76);
    border-width: 0.2vh;
    border-style: solid;
    font-size: 1.3vw;
    text-align: center;
    padding-top: 0.6vh;
    cursor: pointer;
    bottom: 3vh;
}

#ktsinOch{
    top: 62.2vh;
    right: 36.7vw;
    font-size: 1vw;
    border-radius: 0.6vh;
    height: 8vh;
    width: 10vw;
    color: black;
    border-color: rgb(251 152 76);
    background-color: rgb(251 152 76);
    border-width: 0.2vh;
    border-style: solid;
    font-size: 1.3vw;
    text-align: center;
    padding-top: 0.6vh;
    cursor: pointer;
    bottom: 3vh;

}

#ktsinMida{
    top:  62.2vh;
    right: 60vw;
    border-radius: 0.6vh;
    height: 8vh;
    width: 10vw;
    color: black;
    border-color: rgb(251 152 76);
    background-color: rgb(251 152 76);
    border-width: 0.2vh;
    border-style: solid;
    font-size: 1.3vw;
    text-align: center;
    padding-top: 0.6vh;
    cursor: pointer;
    bottom: 3vh;
    

}

#MyaklarTree2 {
    top: 40.8vh;
    right: 28.2vw;
}

#SMyaklarTree2 {
    top: 51vh;
    right: 33vw;  
}

#mashakEisof2 {
    top: 61vh;
    right: 45.5vw;
}

#ktsinOch2{
    top: 59vh;
    right: 11.5vw;
    text-align: center;
}

#ktsinMida2{
    top: 61vh;
    right: 33vw;
}

#kambatz2 {
    top: 61vh;
    right: 24.6vw;
}

#mashakOchMida2 {
    top: 69.1vh;
    right: 8.8vw; 
    text-align: center;
}

#thirdTree {
    display: none;
}

#MyaklarTree3 {
    top: 39.5vh;
    right: 27.4vw;
}

#SMyaklarTree3 {
    top: 50vh;
    right: 31.8vw;
    font-size: 1vw;
}

#mashakEisof3 {
    top: 60vh;
    right: 51vw;
}

#ktsinMida3{
    width: 8vw;
    top: 59.5vh;
    right: 31vw;
    text-align: center;
}

#kambatz3 {
    top: 60vh;
    right: 43vw;
}

#mashakOchMida3 {
    top: 59.8vh;
    right: 3.5vw; 
    text-align: center;
    font-size: 1.1vw;
}

#mashakMidaTzibor3 {
    width: 8vw;
    top: 59.5vh;
    right: 21.7vw; 
    text-align: center; 
}

#mashakMit3 {
    top: 71vh;
    right: 11vw; 
    font-size: 1.1vw;
}

#ktzinTiaom3 {
    width: 7vw;
    top: 59.5vh;
    right: 12.8vw;
    text-align: center;
}

#textInformation {
    font-size: 2vw;
    text-align: center;
    position: absolute;
    right: 3vw;
}

#textInformation1 {
    font-size: 2vw;
    text-align: center;
    right: 4vw;
    position: absolute;
}

.fresh {
    position: relative;
    align-items: center;
    text-align: center;
    justify-content:center;
    font-size: 2vh;
}

#ru {
    cursor: pointer;
    width: 20px;
    position: relative;
    right: 15vw;
    width: 6vw;
    height: 20vh;
}

#rd {
    cursor: pointer;
    width: 20px;
    position: absolute;
    right: 66vw;
    width: 6vw;
    height: 16vh;
    top: 65vh;
}

#mi {
    cursor: pointer;
    width: 20px;
    position: absolute;
    right: 66vw;
    width: 6vw;
    height: 11vh;
    top: 48vh;
}

#lu {
    cursor: pointer;
    width: 20px;
    position: absolute;
    right: 78vw;
    width: 6vw;
    height: 16vh;
    top: 43vh;
}

#ld {
    cursor: pointer;
    width: 20px;
    position: absolute;
    right: 78vw;
    width: 6vw;
    height: 15vh;
    top: 63vh;
}

#iru {
    opacity: 0;
    width: 20px;
    background-color: #c0c8cedc;
    position: relative;
    bottom: 1vh;
    border-radius: 5px;
    width: 16vw;
    height: 22vh;
    left: 4vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.8vh;
}

#ilu {
    opacity: 0;
    width: 20px;
    background-color: #c0c8cedc;
    position: relative;
    bottom: 5vh;
    border-radius: 5px;
    width: 14vw;
    height: 19vh;
    left: 2.2vw;
    top:0.3vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.8vh;
}

#im {
    opacity: 0;
    width: 20px;
    background-color: #c0c8cedc;
    position: relative;
    top: 3vh;
    border-radius: 5px;
    width: 6vw;
    height: 4vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
}

#ird {
    opacity: 0;
    width: 20px;
    background-color: #c0c8cede;
    position: relative;
    left: 2vw;
    border-radius: 5px;
    width: 15vw;
    height: 21.5vh;
    left: 4vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.8vh;
}

#ild {
    opacity: 0;
    width: 20px;
    background-color: #c0c8cedc;
    position: relative;
    border-radius: 5px;
    width: 14vw;
    height: 30vh;
    left: 2vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.8vh;
}

#rd:hover #ird {
   opacity: 1;
}

#ru:hover #iru {
    opacity: 1;
}

#lu:hover #ilu {
    opacity: 1;
}
#ld:hover #ild {
    opacity: 1;
}
#mi:hover #im {
    opacity: 1;
}